<div class="show-item">
  <%= render @report %>
</div>

<nav class="page-nav">
  <%= link_to "Edit this report", edit_report_path(@report) if current_user == @report.user %> |
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete if current_user == @report.user %>
</nav>
